body{
    background: #bed3c3;
}
th{
    color: #ebaca2;
    background: #ce6a6b;
}
tr{
    background: #ebaca2;
    color: #f70a1a;
}
h1{
    color: #ce6a6b;
    text-decoration: underline;
}
a{
    color: #ce6a6b;
    font-weight: bold;

}